<!doctype html>
{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'search/bootstrap-5.0.2/dist/css/bootstrap.min.css' %}">
    <title>Index</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="container d-flex w-100 h-100 mx-auto flex-column">
        <header class="mb-auto">
            <h3 class="float-md-start mt-2 ms-3">
                <a href="/" class="text-decoration-none text-white">
                    NEQ
                </a>
            </h3>
        </header>
        <main class="px-3">
            <h1>Nasa Exoplanet Query</h1>
            <p class="lead">Find all informations about exoplanet easily and beautifully.</p>
            <p class="lead">
                <a class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark" href="{% url 'list' %}">Get
                    Started</a>
            </p>
        </main>
        <footer class="mt-auto text-white-50">
            <p>
                Proof of concept, by
                <a href="https://github.com/elicaciocdefarias" class="text-white" target="_blank">elicaciocdefarias</a>
            </p>
        </footer>
    </div>
<script src="{% static 'search/bootstrap-5.0.2/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>